{% extends "_blog_base.html" %}
{% load staticfiles %}

{% block blog_body %}
  <article class="col s12 m8" data-sr>
    <h1 class="center-align">{{article.title}}</h1>
    <p class="headline">{{article.headline}}</p>
    <div class="divider"></div>
    <p>{{article.body|safe}}</p>
    <a class="waves-effect waves-light btn-large" href="{% url 'blog-home' %}">
      <i class="material-icons left" >arrow_back</i>Blog Home
    </a>
  </article>
{% endblock %}

{% block js %}
  {{block.super}}
  <script src="{% static 'js/highlight.pack.js' %}"></script>
  <script>
    hljs.initHighlightingOnLoad();

    $(document).ready(function(){
      window.sr = new scrollReveal();
    });
  </script>
{% endblock %}
