{% extends "_blog_base.html" %}

{% block blog_body %}
  <div class="col m8 offset-m2 blog__home">
    <h1 class="center-align">Adam's Blog</h1>
    {% for article in article_list %}
      <div class="row">
        <div class="col m12">
          <div class="card medium">
            <div class="card-image shrink">
              <a href="{{article.get_absolute_url}}">
                {% if article.video_id %}
                  <img class="dark" src="//i.ytimg.com/vi/{{article.video_id}}/mqdefault.jpg">
                {% elif article.get_image_path %}
                  <img src="{{ article.get_image_path }}">
                {% else %}
                  <img src="http://lorempixel.com/800/300/nature/">
                {% endif %}
                <span class="card-title">{{article.title}}</span>
              </a>
            </div>
            <div class="card-content">
              <p>{{article.headline}}</p>
              <div class="chip-row">
                {% for tag in article.tags.all %}
                  <span class="chip">{{tag.title}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="card-action">
              <a href="{{article.get_absolute_url}}">Read More</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
