{% extends "_blog_base.html" %}

{% block blog_body %}
  <div class="col m8 offset-m2 blog__home">
    <h1 class="center-align">Adam's Blog</h1>
    {% for article in article_list %}
      <div class="row">
        <div class="col m12">
          <div class="card">
            <div class="card-image shrink">
              <a href="{{article.get_absolute_url}}">
                <img src="http://lorempixel.com/800/300/nature/">
                <span class="card-title">{{article.title}}</span>
              </a>
            </div>
            <div class="card-content">
              <p>{{article.headline}}</p>
              <div class="chip-row">
                {% for tag in article.tags.all %}
                  <span class="chip">{{tag.title}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="card-action">
              <a href="{{article.get_absolute_url}}">Read More</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      $(".button-collapse").sideNav();
    });
  </script>
{% endblock %}
