<li class="waves-effect waves-dark">
  <a href="{% url 'home' %}#about"><i class="material-icons">account_circle</i> Who Am I?</a>
</li>
<li class="waves-effect waves-light">
  <a href="{% url 'blog-home' %}"><i class="material-icons">description</i> Articles</a>
</li>
<li class="waves-effect waves-light">
  <a href="{% url 'blog-series' %}"><i class="material-icons">playlist_play</i> Series</a>
</li>
<li class="hover-remove">
  <a href="#"><i class="material-icons">thumb_up</i> Kittens!</a>
</li>
