<ul class="social-links">
  <li>
  <a href="https://www.twitter.com/awwester">
    <i class="fa fa-2x fa-twitter" data-sr="move 150px, enter left, over 3s, reset"></i>
  </a>
  </li>
  <li>
  <a href="https://www.github.com/awwester">
    <i class="fa fa-2x fa-github"></i>
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/profile/view?id=AAIAAAJXMg8B5ThzH_LCi7clf20KuONnxNGNj5w">
    <i class="fa fa-2x fa-linkedin rotate"></i>
  </a>
</li>
<li>
  <a href="http://stackoverflow.com/users/2548934/awwester">
    <i class="fa fa-2x fa-stack-overflow"></i>
  </a>
</li>
</ul>
