<ul class="social-links">
  <li>
    <a href="https://www.twitter.com/awwester" target="_blank">
      <i class="fa fa-2x fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.github.com/awwester" target="_blank">
      <i class="fa fa-2x fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/awwester" target="_blank">
      <i class="fa fa-2x fa-linkedin rotate"></i>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/c/adamwester" target="_blank">
      <i class="fa fa-2x fa-youtube"></i>
    </a>
  </li>
</ul>
