@mixin transition($transition){
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transform($transform){
  -webkit-transform: rotate($transform); /* Chrome, Safari, Opera */
      -ms-transform: rotate($transform); /* IE 9 */
          transform: rotate($transform);
}
