{% extends "_base.html" %}
{% load staticfiles %}

{% block body %}
  <div class="home">
    <section class="header valign-wrapper">
      <div id="particles-js"></div>
      <div class="overlay">
        <h2 class="skinny hidden-on-small-only">Let's build something<span data-sr="enter right, move 30px, wait 2.2s">, together</span></h2>
        <div class="show-container">
          <h5>
            {% include 'shared/social_links.html' %}
          </h5>
          <!-- <i class="fa fa-pencil fa-3x heartbeat" data-sr="spin 360deg, enter left, ease-in-out 200px, wait 0.5s, over 1s"></i>
          <i class="fa fa-bolt fa-3x shake" data-sr="flip 90deg, enter top, move 50px, wait 1s"></i>
          <i class="fa fa-coffee fa-3x heartbeat" data-sr="flip 360deg, enter bottom, move 30px, wait 1.5s"></i>
          <i class="fa fa-group fa-3x shake" data-sr="roll 45deg, enter right, move 200px, wait 2s"></i> -->
        </div>
      </div>
      <img src="{% static 'img/clouds.jpeg' %}">
    </section>

    <section id="about" class="about" data-sr="move 50px, enter top">
      <div class="container">
        <h2 class="section-header">About Me</h2>

        <div class="row">
          <div class="col m4 hide-on-small-only" data-sr="flip 360deg">
            <img class="circle z-depth-5" src="{% static 'img/adam.jpg' %}">
          </div>
          <div class="col m8 s12">
            <ul class="collapsible popout" data-collapsible="accordion">
              <li class="active">
                <div class="collapsible-header active"><i class="material-icons">person</i>Life</div>
                <div class="collapsible-body">
                  <p>Originally from the United States, I'm currently based in Colombia in the heart of the coffee region. When I'm not developing I enjoy watching soccer, playing tennis, and just enjoying a simple life doing what I truly love to do in a wonderful place.</p>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Travel</div>
                <div class="collapsible-body">
                  <p>A few years ago, I was working the United States in a small town in Washington state called Richland. I eventually hit a rut. I had accomplished everything that I wanted and decided to get rid of all my things, rent my house, explore the world, and become location independent. For more info on that, if you wish you can check out my travel blog, <a href="http://travelblogwave.com/stepsofatraveler" target="_blank">Steps of a Traveler</a>, which I made as part of my <a href="http://www.travelblogwave.com" target="_blank">Travel Blog Wave</a> project.</p>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">whatshot</i>Development
                  </div>
                <div class="collapsible-body">
                  <p>At my job in the U.S. I mostly did analysis, database development, and business process management. After 5 years of telling my managers that I wanted to get more into development work, I took matters into my own hands. After being confined to the Microsoft universe, I quickly found the beauty of open source. It was like opening your eyes to a whole new world.</p>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">grade</i>Skills</div>
                <div class="collapsible-body">
                  <p>
                    <span class="chip">Django</span> <span class="chip">Django Rest Framework</span>
                    <span class="chip">Ember.js</span> <span class="chip">Angular</span>
                    <span class="chip">Ionic</span> <span class="chip">Bootstrap</span>
                    <span class="chip">Materialize</span> <span class="chip">Being Awesome</span>
                    <span class="chip">AWS</span> <span class="chip">Heroku</span> <span class="chip">Public APIs</span>
                    <span class="chip">Private APIs</span> <span class="chip grow"><a href="https://www.linkedin.com/profile/view?id=AAIAAAJXMg8B5ThzH_LCi7clf20KuONnxNGNj5w">Linked <i class="fa fa-linkedin"></i></a></span>
                  </p>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">thumb_up</i>Specialty</div>
                <div class="collapsible-body">
                <p>There are so many developers out there, you might be wondering what makes me special? Coming from a business background, I get it. I understand both sides. My favorite projects are Minimum Viable Products (MVPs) for startups. I've completed 5 MVPs now and for me those are by far the most exciting. I'm learning every day, love challenges, learning new technologies, and have a nack for being damn good at whatever I do.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container">
        <h2 class="section-header">My Projects</h2>
        <div class="row">
          <div class="col s12 m6" data-sr="enter left, move 50px">
            <div class="card z-depth-3">
              <div class="card-image shrink">
                <img class="activator" src="{% static 'img/sites/travelblogwave.png' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Travel Blog Wave<i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.travelblogwave.com" target="_blank">Visit TBW</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Travel Blog Wave<i class="material-icons right">close</i></span>
                <p>Travel Blog Wave is a personal project, and it is my baby. I started out my location-independence trying to start a travel blog, but quickly realized it wasn't viable. I switched to creating a travel blog platform that other's could use as well. TBW is great for me to try out new things and I'm actively changing it for practice when I have free time.</p>
                <span class="chip">Django</span>
                <span class="chip">Google Map API</span>
                <span class="chip">Heroku</span>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card z-depth-3" data-sr="enter right, move 50px, over 1.5s">
              <div class="card-image shrink">
                <img class="activator" src="{% static 'img/sites/mobafilter.png' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Moba Filter<i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.mobafilter.com" target="_blank">Visit Moba Filter</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Moba Filter<i class="material-icons right">close</i></span>
                <p>Although knowledge of competitive gaming is required to know the use of the site, the tech stack is understandable. This project uses Django 1.9 with a lot of frontend emphasis through JQuery. We hook into the Twitch API to connect accounts and utilize user data to cater the UX.</p>
                <span class="chip">Django</span>
                <span class="chip">External API</span>
                <span class="chip">JQuery</span>
                <span class="chip">Materialize</span>
                <span class="chip">Heroku</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6" data-sr="scale up 40%, enter top, move 50px">
            <div class="card z-depth-3">
              <div class="card-image shrink">
                <img class="activator" src="{% static 'img/sites/joe2go.png' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Joe Coffee App<i class="material-icons right">more_vert</i></span>
                <p>
                  <span class="accent-text">In Development</span>
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Joe Coffee App<i class="material-icons right">close</i></span>
                <p>This project allows people to order coffee from their phones and have it be ready for pickup.
                   For the cofee shops we have a web application for them to manage their store and drink settings,
                   and for the consumers we have an Ionic Mobile App.</p>
                <span class="chip">Django Rest API</span>
                <span class="chip">Ember.js</span>
                <span class="chip">Heroku</span>
                <span class="chip">Ionic</span>
              </div>
            </div>
          </div>
          <div class="col s12 m6" data-sr="scale up 40%, enter right, ease 200px, over 1.5s">
            <div class="card z-depth-3">
              <div class="card-image shrink">
                <img class="activator" src="{% static 'img/sites/reallife.png' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">RealLife Global<i class="material-icons right">more_vert</i></span>
                <p><a class="accent-text">(retired)</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">RealLife Global<i class="material-icons right">close</i></span>
                <p>I worked with RLG for almost a year as their CTO working with designers and another developer to build out their MVP, which is a social platform for English learners. They already had a large audience and they were looking to build out a tool to better the experience for their audience. The biggest accomplishment was connecting our users through real-time messaging and video chat.</p>
                <span class="chip">Django API</span>
                <span class="chip">Ember.js</span>
                <span class="chip">AWS</span>
                <span class="chip">Firebase</span>
                <span class="chip">WebRTC Video Chat</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <div class="card z-depth-3" data-sr="enter right, move 50px, over 1.5s">
              <div class="card-image shrink">
                <img class="activator" src="{% static 'img/sites/rentversity.png' %}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Rentversity<i class="material-icons right">more_vert</i></span>
                <p><a class="accent-text">(retired)</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rentversity<i class="material-icons right">close</i></span>
                <p>Rentversity was my first major project that I took on, and it was a great learning experience. It's purpose was to connect students to apartments by showing detailed information about their communities. We grew to 4 employees and 6 different college campuses before funding was cut and the project faded out over time.</p>
                <span class="chip">Django</span>
                <span class="chip">Google Maps</span>
                <span class="chip">Web Scraping</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog">
      <h2 class="section-header">My Tech Blog</h2>
      <h4 class="blog-headline">
        <p data-sr="enter left, wait 0.5s">
          {{article_count}} articles about...
        </p>
        <p data-sr="enter left, wait 1.5s">
          {% for tag in tag_list %}
            {{tag}}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      </h4>
      <div class="container">
        <div class="row">
          {% for article in article_list %}
            <div class="col m6">
              <div class="card medium">
                <div class="card-image">
                  <a href="{{article.get_absolute_url}}">
                    {% if article.video_id %}
                      <img class="dark" src="//i.ytimg.com/vi/{{article.video_id}}/mqdefault.jpg">
                    {% else %}
                      <img src="/static/img/fake_article{{forloop.counter}}.png">
                    {% endif %}
                    <span class="card-title">{{article.title}}</span>
                  </a>
                </div>
                <div class="card-content">
                  <p>{{article.headline}}</p>
                </div>
                <div class="card-action">
                  <a href="{{article.get_absolute_url}}">Read More...</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="right push-right">
            <a class="waves-effect waves-light btn-large" href="{% url 'blog-home' %}">
              <i class="material-icons right" >arrow_forward</i>View Blog
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="container">
        <h2 class="section-header">Contact Me</h2>
        <div class="row">
          <form id="contact-form" class="col s12">
            <div class="row">
              <div class="input-field col m4 s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col m4 s12">
                <input id="first-name" type="text" class="validate">
                <label for="first-name">First Name</label>
              </div>
              <div class="input-field col m4 s12">
                <input id="last-name" type="text" class="validate">
                <label for="last-name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">message</i>
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="textarea1">So, what are you thinking?</label>
              </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
              <div class="col s12 m6 offset-m3">
                <p id="submit-label" class="hide"></p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <span class="hide-on-small-only" data-sr="enter left, wait 4s"><i class="fa fa-twitter shake"></i> Or... you can always tweet <a href="https://twitter.com/awwester">@awwester</a></span>
                <a href="#contact" class="btn-large right waves-effect waves-light" onclick="sendMail()">Send
                  <i class="material-icons push-right right">send</i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="page-footer white-text home__footer">
      <div class="container">
        <div class="row">
          <div class="col m6 center-align">
            <h5>Made from scratch (with love) using...</h5>
            <span class="chip">Materialize</span>
            <span class="chip">Django</span>
            <span class="chip">JQuery</span>
            <span class="chip">Scroll Reveal JS</span>
            <span class="chip">Particles JS</span>
          </div>
          <div class="col m6 connect">
            <h5 style="margin-bottom: 1px;">Connect with me, I don't bite<sub><small>1</small></sub></h5>
            <p class="footnote">1. Terms & Conditions apply</p>
            {% include "shared/social_links.html" %}
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Adam Wester
        </div>
      </div>
    </footer>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/particles.min.js' %}"></script>

  <script>
    // initialize scroll reveal
    window.sr = new scrollReveal();

    function sendMail(){
      // send a contact email
      var emailElem = $('#email'),
          firstNameElem = $('#first-name'),
          lastNameElem = $('#last-name'),
          messageElem = $('#message'),
          submitLabelElem = $('#submit-label'),
          formElem = $('#contact-form');

      var email = emailElem.val(),
          firstName = firstNameElem.val(),
          lastName = lastNameElem.val(),
          message = messageElem.val();

      if(email && firstName && message){
        // all fields are filled out, send post request to server
        var data = {
          "email": email,
          "first_name": firstName,
          "last_name": lastName,
          "message": message,
        };
        var json = JSON.stringify(data);

        $.post("{% url 'contact' %}", json).then(function(){
          var successText = "Your message has been sent successfully!";
          formElem.trigger("reset");
          submitLabelElem.text(successText);
          submitLabelElem.removeClass('hide error').addClass('success');
        }, function(){
          var errorText = "There was an error sending your contact, try again later?";
          submitLabelElem.text(errorText);
          submitLabelElem.removeClass('hide success').addClass('error');
        });
      } else {
        // not all the required fields were filled out
        if(!firstName){
          firstNameElem.addClass('invalid');
        }
        if(!email){
          emailElem.addClass('invalid');
        }
        if(!message){
          messageElem.addClass('invalid');
        }
      }
    }

    $(document).ready(function(){
      $('.parallax').parallax();

      // initialize particles
      particlesJS.load('particles-js', '{% static "assets/particles.json" %}');
    });
  </script>
{% endblock %}
