// global styles

body, html { height: 100%; }

img {
  width: 100%;
  height: auto;
}

.skinny { font-weight: 100; }

.full-height {
  height: 100%;
  min-height: 100%;
}

.hover-rotate {
  transition: transform 1s ease;

  &:hover {
    transform: rotate(45deg);
  }
}

// vertical navbar
nav.vertical {
  ul > li {
    float: none;
    display: block;

    a { padding-left: 3em; }
  }
}
