// colors
$brand: #2988bc;
$brand-alt: #ED8C72;
$brand-bright: #3C95FF;

$brand-light: #FCFCFC;
$brand-dark: #333;
$brand-gray: #eee;
$brand-medium-gray: #777;


$primary-color: $brand;
$secondary-color: $brand-alt;
