@import "variables";
@import "materialize";
@import "global";


.social-links {
  a {
    color: inherit;

    &:hover { color: darken(#fff, 10%);}
  }
}

.home {
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .projects {
    background: $gray;
  }
}
