@import "variables";
@import "placeholders";
@import "materialize";
@import "particles";
@import "code-style";
@import "keyframes";
@import "global";

// scripts/sass.sh to run sass watch


/*
  1. Home
  2. Blog
*/

//***** 1. HOME PAGE *****/
.home {
  overflow-x: hidden;

  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-header {
    text-align: center;
    font-weight: 200;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    .overlay {
      z-index: 2;
      width: 100%;
      color: white;
      position: absolute;
      bottom: 30%;
      text-align: center;
    }

    @media(max-width: $small-screen){
      .overlay { bottom: 25%; }
    }
  }

  .about { background: $light-texture; }

  .show-container {
    i { padding: 15px;}
  }

  .projects {
    @extend .dark-bg;
  }

  .blog {
    background: $light-texture;

    .blog-headline {
      text-align: center;
      font-size: 3em;
    }
  }

  @media(max-width: $small-screen){
    .blog {
      .blog-headline { font-size: 2em; }
    }
  }

  .contact {
    #submit-label {
      color: white;
      text-align: center;
      padding: 0.2em;
      border-radius: 0.2em;
      font-size: 1.2em;
      margin-top: 0;

      &.success {
        background-color: $success-color;
      }

      &.error {
        background-color: $error-color;
      }
    }
  }

  .social-links {
    li { display: inline; }

    a {
      color: inherit;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        color: $brand-dark;
      }
    }
  }
}

.home__footer {
  background: $dark-texture;

  .social-links {
    i:hover { color: $brand-bright; }
  }

  .connect {
    text-align: center;

    h5 { margin-bottom: 0; }

    .footnote { font-size: 0.5em;}
  }
}


//***** 2. BLOG *****/
.blog__body {
  width: 85%;
  margin-left: 15%;
  padding-left: 4em;
  padding-right: 4em;

  article {
    h1, h2, h3, blockquote { font-weight: 300; }

    code.inline {
      background: #eee;
      border: 1px solid #ddd;
      border-radius:3px;
      padding:1px;
      color: #cc1100;
    }

    .article-body {
      blockquote {
        @extend .accent-text;
        font-size: 1.3em;
      }
    }

    .headline {
      color: $brand-medium-gray;
      font-style: italic;
    }

    .video-container {
      @extend .z-depth-5;
      margin: 3em;
    }
  }
}

@media(max-width: $small-screen){
  .blog__body {
    width: 100%;
    margin-left: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.blog {
  @extend .full-height;

  .logo {
    position:relative;
    height:150px;
    width:150px;
    margin:3em auto;

    img {
      border-radius: 50%;
      position:absolute;
      left:0;
      @include transition(all 1s ease-in-out);

      &.top:hover {
        opacity:0;
        transform: scale(0) rotate(180deg) translateX(10em);
      }
    }
  }

  aside {
    @extend .full-height;
    width: 15%;
    right: 0;
    position: fixed;
    background: $brand-light;
    border-left: solid 1px darken($brand-light, 5%);

    #subscribe-message {
      background-color: $success-color;
      color: $brand-light;
      padding: 2px;
      text-align: center;
    }

    .related-article {
      position: fixed;
      bottom: 0;

      .card-header {
        padding: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: 200;
        background: $dark-texture;
        color: white;
      }
    }

    .series-article-list {
      padding: 10px;

      a {
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;

        &.active {
          background-color: $brand-alt;
          color: white;
        }
      }
    }

    .series-title { padding: 10px; }
  }
}

.blog__nav {
  li {
    width: 100%;
  }

  .social-links {
    display: inline;

    i { font-size: 1.7rem; }

    li { width: 25%; }

    &:hover { color: darken(#fff, 10%);}
  }

  .side-nav {
    .social-links {
      li {
        background-color: $primary-color;
        text-align: center;
        float:left;

        a {
          color: white;
          transition: all 0.1s;

          &:hover {
            transform: scale(1.3);
            padding-top: 2px;
          }
        }
      }
    }
  }

  @media(min-width: $small-screen){
    height: 100%;
    width: 15%;
    min-width: 160px;
    overflow: hidden;
    position: fixed;
    color: white;
    background: $dark-texture;

    i {font-size: 1rem;}

    li {
      a {transition: all ease 0.5s;}

      &:hover {
        background: rgba(0,0,0,0.15);

        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.blog__home {
  img {
    @include filter(brightness(60%));

    &:hover { @include filter(brightness(100%)); }
  }
  .chip-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
