@import "variables";
@import "materialize";
@import "particles";
@import "global";


/*
  1. Home
  2. Blog
*/

//***** 1. HOME PAGE *****/
.home {
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    .overlay {
      z-index: 2;
      width: 100%;
      color: white;
      position: absolute;
      bottom: 50%;
      text-align: center;
    }
  }

  .show-container {
      i { padding: 15px;}
  }

  .projects { background: $brand-light; }

  .social-links {
    li { display: inline; }

    a {
      color: inherit;
      padding-left: 15px;
      padding-right: 15px;

      &:hover { color: darken(#fff, 10%);}
    }
  }
}

.home__footer {
  .connect {
    text-align: center;

    h5 {
      margin-bottom: 0;
    }

    .footnote { font-size: 0.5em;}
  }
}


//***** 2. BLOG *****/

.blog__body {
    width: 70%;
    margin-left: 15%;
    padding-left: 4em;
    padding-right: 4em;
}

.blog {
  @extend .full-height;

  nav {
    @extend .full-height;

    width: 15%;
    overflow: hidden;
    position: fixed;
    color: white;
    background: $brand-dark;
  }

  .logo {
    padding: 2em;
    transition: all ease 0.5s;

    &:hover {
      background: blue;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
    }
  }
}

.blog__home {
  .chip-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card-image {
    // overflow hidden allows us to zoom the img
    overflow: hidden;

    img {
      transition: all ease 0.5s;
      transform:scale(1.5);

      &:hover {
        transform:scale(1);
      }
    }
  }
}

.blog__article {
  article {
    overflow: scroll;
  }
}
